CONFIG_PKG_FAKE_PROVIDES=y
CONFIG_PKG_MKSPOOFLINKS=y
CONFIG_PKG_U_BOOT=y
CONFIG_PKG_COLILO=y
CONFIG_PKG_KERNEL=y
CONFIG_PKG_DEV=y
CONFIG_PKG_SKELL=y
CONFIG_PKG_LIBC=y
CONFIG_PKG_BINUTILS=y
CONFIG_PKG_GCC=y
CONFIG_PKG_BUSYBOX=y
CONFIG_PKG_TINYLOGIN=y
CONFIG_PKG_NTPCLIENT=y
CONFIG_PKG_MODUTILS=y
CONFIG_PKG_MODULE_INIT_TOOLS=y
CONFIG_PKG_LIBTERMCAP=y
CONFIG_PKG_BASH=y
CONFIG_PKG_SASH=y
CONFIG_PKG_COREUTILS=y
CONFIG_PKG_SEQ=y
CONFIG_PKG_ZLIB=y
CONFIG_PKG_LFS_UTILS=y
CONFIG_PKG_FINDUTILS=y
CONFIG_PKG_GAWK=y
CONFIG_PKG_NCURSES=y
CONFIG_PKG_PERL=y
CONFIG_PKG_VIM=y
CONFIG_PKG_M4=y
CONFIG_PKG_BISON=y
CONFIG_PKG_LESS=y
CONFIG_PKG_GROFF=y
CONFIG_PKG_SED=y
CONFIG_PKG_FLEX=y
CONFIG_PKG_GETTEXT=y
CONFIG_PKG_NET_TOOLS=y
CONFIG_PKG_INETUTILS=y
CONFIG_PKG_TEXINFO=y
CONFIG_PKG_AUTOCONF=y
CONFIG_PKG_AUTOMAKE=y
CONFIG_PKG_LIBTOOL=y
CONFIG_PKG_GMP=y
CONFIG_PKG_BZIP2=y
CONFIG_PKG_DIFFUTILS=y
CONFIG_PKG_DOSFSTOOLS=y
CONFIG_PKG_ED=y
CONFIG_PKG_KBD=y
CONFIG_PKG_E2FSPROGS=y
CONFIG_PKG_GREP=y
CONFIG_PKG_MAN=y
CONFIG_PKG_MAKE=y
CONFIG_PKG_BUILDROOT_LKC=y
CONFIG_PKG_LKC=y
CONFIG_PKG_PATCH=y
CONFIG_PKG_PROCINFO=y
CONFIG_PKG_PROCPS=y
CONFIG_PKG_PSMISC=y
CONFIG_PKG_SYSKLOGD=y
CONFIG_PKG_DEVFSD=y
CONFIG_PKG_SYSVINIT=y
CONFIG_PKG_TAR=y
CONFIG_PKG_UTIL_LINUX=y
CONFIG_PKG_DB1=y
CONFIG_PKG_HDPARM=y
CONFIG_PKG_POPT=y
CONFIG_PKG_LIBELF=y
CONFIG_PKG_LIBUSB=y
CONFIG_PKG_USBUTILS=y
CONFIG_PKG_ETHTOOL=y
CONFIG_PKG_PCIUTILS=y
CONFIG_PKG_IRATTACH=y
CONFIG_PKG_WIRELESS_TOOLS=y
CONFIG_PKG_OPROFILE=y
CONFIG_PKG_LIBPCAP=y
CONFIG_PKG_TCPDUMP=y
CONFIG_PKG_IPERF=y
CONFIG_PKG_NETPERF=y
CONFIG_PKG_IPROUTE=y
CONFIG_PKG_BOA=y
CONFIG_PKG_TCP_WRAPPERS=y
CONFIG_PKG_PORTMAP=y
CONFIG_PKG_RNG_TOOLS=y
CONFIG_PKG_DROPBEAR=y
CONFIG_PKG_OPENSSL=y
CONFIG_PKG_OPENSSH=y
CONFIG_PKG_IPSEC_TOOLS=y
CONFIG_PKG_IPSECADM=y
CONFIG_PKG_IPTABLES=y
CONFIG_PKG_OPENSWAN=y
CONFIG_PKG_TIME=y
CONFIG_PKG_CAN4LINUX=y
CONFIG_PKG_I2C_TOOLS=y
CONFIG_PKG_WATCHDOG=y
CONFIG_PKG_DSPI=y
CONFIG_PKG_HOTPLUG=y
CONFIG_PKG_WHICH=y
CONFIG_PKG_FAKEROOT=y
CONFIG_PKG_GDB=y
CONFIG_PKG_GDB_BDM=y
CONFIG_PKG_STRACE=y
CONFIG_PKG_WGET=y
CONFIG_PKG_UCLINUX_CKSUM=y
CONFIG_PKG_VSFTPD=y
CONFIG_PKG_HELLOWORLD=y
CONFIG_PKG_GENEXT2FS=y
CONFIG_PKG_GENROMFS=y
CONFIG_PKG_U_BOOT_TOOLS=y
CONFIG_PKG_MTD_UTILS=y
CONFIG_PKG_RPM=y
CONFIG_PKG_RSYNC=y
CONFIG_PKG_LTP=y
CONFIG_PKG_LMBENCH=y
CONFIG_PKG_APPTRK=y
CONFIG_PKG_PPP=y
CONFIG_PKG_APPTRK_PPCBIN=y
CONFIG_PKG_APPTRK_M54X5=y
CONFIG_PKG_DAEMONIZER=y
CONFIG_PKG_UNZIP=y
CONFIG_PKG_PIDENTD=y
CONFIG_PKG_EXPAT=y
CONFIG_PKG_FREETYPE=y
CONFIG_PKG_FONTCONFIG=y
CONFIG_PKG_LIBPNG=y
CONFIG_PKG_XFREE86=y
CONFIG_PKG_PYTHON=y
CONFIG_PKG_PKGCONFIG=y
CONFIG_PKG_GLIB2=y
CONFIG_PKG_ATK=y
CONFIG_PKG_PANGO=y
CONFIG_PKG_ALSA_LIB=y
CONFIG_PKG_LIBJPEG=y
CONFIG_PKG_LIBTIFF=y
CONFIG_PKG_GTK2=y
CONFIG_PKG_SWIG=y
CONFIG_PKG_MICROWINDOWS=y
CONFIG_PKG_QTOPIA=y
CONFIG_PKG_DIRECTFB=y
CONFIG_PKG_DIRECTFB_EXAMPLES=y
CONFIG_PKG_LIBXML2=y
CONFIG_PKG_HTTPD=y
CONFIG_PKG_MYSQL=y
CONFIG_PKG_PHP=y
CONFIG_PKG_KRB5=y
CONFIG_PKG_SUBVERSION=y
CONFIG_PKG_INTLTOOL=y
CONFIG_PKG_LIBIDL=y
CONFIG_PKG_ORBIT2=y
CONFIG_PKG_GCONF=y
CONFIG_PKG_XML_PARSER_PM=y
CONFIG_PKG_LIBBONOBO=y
CONFIG_PKG_GNOME_MIME_DATA=y
CONFIG_PKG_SHARED_MIME_INFO=y
CONFIG_PKG_GNOME_VFS=y
CONFIG_PKG_LIBGNOME=y
CONFIG_PKG_LIBGLADE=y
CONFIG_PKG_LIBART_LGPL=y
CONFIG_PKG_LIBGNOMECANVAS=y
CONFIG_PKG_GNOME_KEYRING=y
CONFIG_PKG_LIBBONOBOUI=y
CONFIG_PKG_LIBGNOMEUI=y
CONFIG_PKG_READLINE=y
CONFIG_PKG_LIBSIGCPP=y
CONFIG_PKG_GLIBMM=y
CONFIG_PKG_GTKMM=y
CONFIG_PKG_LIBGNOMEMM=y
CONFIG_PKG_LIBGNOMECANVASMM=y
CONFIG_PKG_LIBGLADEMM=y
CONFIG_PKG_GNOME_VFSMM=y
CONFIG_PKG_GCONFMM=y
CONFIG_PKG_LIBGNOMEUIMM=y
CONFIG_PKG_BOOST=y
CONFIG_PKG_HICOLOR_ICON_THEME=y
CONFIG_PKG_LIBXSLT=y
CONFIG_PKG_GLADE2=y
CONFIG_PKG_PYGTK2=y
CONFIG_PKG_PEXPECT=y
CONFIG_PKG_PYSERIAL=y
CONFIG_PKG_PCMCIA_CS=y
CONFIG_PKG_LINUX_ATM=y
CONFIG_PKG_LIBID3TAG=y
CONFIG_PKG_LIBMAD=y
CONFIG_PKG_MADPLAY=y
CONFIG_PKG_PCRE=y
CONFIG_PKG_LRZSZ=y
CONFIG_PKG_UDEV=y
CONFIG_PKG_YAFFS_UTILS=y
CONFIG_PKG_SAMBA=y
CONFIG_PKG_NAS_CONFIG=y
CONFIG_PKG_MDADM=y
CONFIG_PKG_CLAMAV=y
CONFIG_PKG_BONNIE_PLUS_PLUS=y
CONFIG_PKG_ALSA_UTILS=y
CONFIG_PKG_DHCP=y
CONFIG_PKG_BIND=y
CONFIG_PKG_DTC=y
CONFIG_PKG_BRIDGE_UTILS=y
CONFIG_PKG_CPIO=y
CONFIG_PKG_CRACKLIB=y
CONFIG_PKG_CRAMFS=y
CONFIG_PKG_HESIOD=y
CONFIG_PKG_IPUTILS=y
CONFIG_PKG_SCHEDUTILS=y
CONFIG_PKG_SETSERIAL=y
CONFIG_PKG_PTPD=y
CONFIG_PKG_DEVMEM2=y
CONFIG_PKG_DISTCC=y

# leave these as the last 2 packages in the build order
CONFIG_PKG_MERGE=y
CONFIG_PKG_SYSCONFIG=y
