ACTION!="add",				GOTO="persistent_net_generator_end"
SUBSYSTEM!="net",			GOTO="persistent_net_generator_end"
# ignore the interface if a name has already been set
NAME=="?*",				GOTO="persistent_net_generator_end"
# ignore VLAN subinterfaces
KERNEL=="*[0-9].[0-9]*",		GOTO="persistent_net_generator_end"

KERNEL=="eth*|ath*|wlan*|ra*|sta*", \
	IMPORT{program}="write_net_rules $sysfs{address}"

ENV{INTERFACE_NEW}=="?*", NAME="$env{INTERFACE_NEW}"

LABEL="persistent_net_generator_end"

